<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      @for (producto of productos(); track producto.id){
        <ion-item>
          <ion-label>
            {{ producto.nombre }} 
            <img src="{{ producto.imagen }}" alt="producto.nombre">
            <p>Precio: {{producto.precio}} </p>
          </ion-label>
        </ion-item>
      }
    </ion-list>
  </div>
</ion-content>
